<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About me" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Me</strong></h1>
        <p class="text-secondary">Hi i'm Jishnu Singiresu!</p>
        <p class="text-secondary">I am a junior at delnorte highschool, i hope to learn more with u</p>
        <p class="text-secondary">Here is my teams scrumboard</p>
        <img class="card-img-top" src="{{ url_for('static', filename='assets/Copy of Scrum Team Process - Emaad Mir, Edwin Abraham, Luka Van Den Boomen, Jishnu Singiresu.png') }}" alt="Flask Development" height="250">
    </div>
    
    <style>
      * {
        background-color: #00bff9;}       
      </style>
      
      <form method="POST">
      <input name="color" value="{{ color }}">
      <input type="submit" value="Set">
      </form>
      <p>
      <a href="/">home</a>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
